$color-blue-one:#5496E6;
$color-blue-two:#518BDE;
$color-gray-one: #444;
$color-yellow-one: #F7D754;


.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-columns: repeat(10, minmax(150px, 1fr));
    

    &__title {
        grid-row: 1/2;
        grid-column: 1/4;
    
        justify-self: center;
        //align-self: center;

        font-size: 18px;
        color: white;
        font-family: 'Montseratt';
        font-weight: 300;
        line-height: 22px;
        padding: 55px 75px;
    }
}

