.change-date {
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: start;

    font-size: 24px;
    font-family: $font-roboto;
    line-height: line-height 19px;
    text-align: center;
    color: white;
    font-weight: 100;

    background-color: transparent;
    border: none;

    transform: rotate(-66deg) translate(-60px, -60px);

    &:focus {
        outline: none;
    }

    i {
        margin-right: 22px;
    }

}