.grid {

    &__skew-light-one {
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        background-color: $color-blue-one;

        grid-column: 1/2;
        grid-row: 3/4;
    }

    &__skew-light-two {
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        background-color: $color-blue-one;

        grid-column: 2/3;
        grid-row: 4/5;
    }

    &__skew-light-three-box {
        background-color: $color-blue-one;

        grid-column: 1/2;
        grid-row: 4/5;
    }
}

.grid {

    &__skew-dark-two {
        z-index: -2;
        background-color: $color-blue-two;
        grid-column:1/5;
        grid-row: 1/5;

        -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
        
    }
}