.clock {
    grid-row: 3/4;
    grid-column: 2/10;
    align-self: end;

    background-color: $color-gray-one;
    height: 80%;
    width: 100%;
    text-align: center;
    

    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%,0% 100%);
    clip-path: polygon(7% 0, 100% 0, 93% 100%,0% 100%);


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 275px));
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;

    &__box {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    &__title {
        font-size: 22px;
        line-height: 25px;
        color: $color-yellow-one;
        font-family: "Roboto-Condensed"
    }

    &__amount {
        font-size: 90px;
        font-weight: bold;
        line-height: 115px;
        color: white;
        font-family: "Roboto Condensed"
    }
}