.large-text {
    grid-row: 1/3;
    grid-column: 8/11;

    align-self: center;
    justify-self: center;

    color: $color-gray-two;
    font-family: $font-roboto;
    font-size: 220px;
    font-weight: 700;
    
}