.picker {
    grid-column: 5/10;
    grid-row: 2/3;
    //background-color: cornflowerblue;

    padding-bottom: 50px;
    justify-self: center;

    input {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #E3b924;
        text-align: center;
        font-size: 80px;
        font-family: "Roboto Condensed";
        font-weight: bold;
        color: $color-gray-one;

        &:focus {
            outline: none;
        }
    }
}